   <nav class="navbar navbar-expand-lg shadow">
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <a class="navbar-brand" href="/">Shapepost</a>

     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mt-2 mt-md-0">
           <li class="nav-item active ">
            <%= link_to "#{current_user.nickname}さん", "#" ,class: "nav-link "%>
           </li>
           <li class="nav-item">
             <%= link_to "ログアウト", destroy_user_session_path , method: :delete, class: "nav-link"%>
          </li>
        </ul>
     </div>
      <%= link_to "posting your body", new_post_path ,class: "btn btn-primary btn-lg p-1 " %>
   </nav>
<header class="header jumbotron">
  <h1 class="minititle"><a href="/">ShapePost</a></h1>
<div >
  <h1 class="display-1">Hello, DiligentWorker!</h1>
  <p class="lead">Fitness is not about being better than someone else. It’s about being better than you used to be.</p>
  <hr class="my-2">
  <p class="text font-italic">Change your life today. Don't gamble on the future act now without delay!</p>
  <p>シモーヌ・ド・ボーヴォワール
「今日、あなたの人生を変えなさい。将来に賭けてはいけません。グズグズせずに、今すぐ行動するのです」</p>  <hr class="my-2">

  <br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.cosmopolitan.com/jp/trends/lifestyle/g32046697/comforting-quotes-to-encourage-you-during-life-s-greatest-challenges34/" target="_blank" rel="noopener noreferrer" role="button">Some more</a>
  </p>
</div>
</header>
<br>
<br>
<br>
<div class="full_screen">
 <% @posts.each do |post| %>
     <div class="d-inline-block">
       <%= image_tag post.image.variant(resize: '350x450',rotate:25), class: "post-image" if post.image.attached?%>
     <div class="card-body shadow post_name">
      <%= post.name %>
     <p class="card-text">
      &#x2728;<%= "一週間の運動頻度" %>&#x2728;<%= post.training_status.name %>
     <p class="card-text">
      <%= post.explain%>
     </p>
     <a href="#" class="btn btn-primary">view mypage</a>
     </div>
  </div>
  <% end %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</div>