<!DOCTYPE html>
<html>
  <head>
    <title>Shapepost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bangers rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">

  </head>
  <body>
   <header class="header">
        <h1 class="minititle" ><a href="/">ShapePost</a></h1>
        <p class="user_name" style="text-align: right"><%= link_to "<nickname>", "#" %></p>
        <%# <% if user_signed_in? %> 
           <div class="user_nav">
              <ul class="user_info">
                <li>
                 <%= link_to "投稿する", new_post_path %>
                 <%="・"%>
                 <%= link_to "ログアウト", "#" %>
                </li>
              </ul>
           </div>
        <%# <% else %> 
          <div class="user_info">
            <%= link_to "ログイン", "#", class: "post" %>
            <%="・"%>
            <%= link_to "新規登録", "#", class: "post" %>
          </div>
        <%# <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright ShapePost 2021.
      </p>
    </footer>
  </body>
</html>
